#header {
  position: fixed;
  width: 100%;
  color: $darkblue;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}

.header__nav {
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  margin: 1vw;
  padding: 1vw;
  box-shadow: 0 0 0.2vw #0000008a;
  border-radius: 3vw;

  & a {
    margin: 0 1.8vw;
    transition: opacity $quick;

    &:hover {
      opacity: 0.6;
    }
  }
}
