// Section 1
#home {
  min-height: 350px;
  height: 100vh;
  background: url('../assets/bg/home-bg-1360.jpg') fixed bottom / cover
    no-repeat;
}

h1 {
  color: $darkblue;
  margin-bottom: 3vw;
  cursor: default;
}

#search-bar {
  position: relative;
  width: 40vw;
  margin-bottom: 6vw;
}

// Search Input
#location {
  width: 100%;
  height: 3vw;
  border: 0.1vw solid #555;
  border-radius: 2vw 0 0 2vw;
  padding-left: 1.5vw;
}

// Search Button
#btn-submit {
  height: 3vw;
  border-radius: 0 2vw 2vw 0;
  background-color: $darkblue;
  padding: 0 1.2vw 0.15vw 1vw;
}

#search-error {
  position: absolute;
  bottom: -3.5vw;
}

// Search Icon
.feather-search {
  position: relative;
  width: 1.5vw;
  height: auto;
  filter: invert(1);
}

// Section 2
#results {
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: fade-in $slow ease-in-out;
}

// Overlay
.home__section-two::after {
  content: '';
  position: absolute;
  width: 105%;
  height: 105%;
  background-color: rgba(0, 0, 0, 0.2);
  top: -2.5%;
  left: -2.5%;
}

// Weather Container
.results__main {
  width: 70vw;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 20vw);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas: 'a a' 'b c' 'd e';
  gap: 1vw;
  z-index: 1;
}

// City, Country, Icon, and Temperature
.results__info {
  grid-area: a;
  width: 100%;
  height: 100%;
  padding: 2vw 0;
  border-radius: 1vw 1vw 0 0;
  background-color: $dark;
  color: $light;
  box-shadow: $shadow;
  opacity: 0.84;
  transition: opacity 0.3s;
  cursor: default;

  & p {
    font-size: 4vw;
    margin-bottom: -1vw;
    text-align: center;
  }

  & div span {
    font-size: 8vw;
  }

  &:hover {
    opacity: 1;
  }
}

// Icon for weather state (sunny, cloudy, rainy...)
.results__icon--weather {
  width: 10vw;
  aspect-ratio: 1;

  & img {
    width: 100%;
  }
}

// Style for extra info
.results__small-block {
  width: 100%;
  height: 100%;
  opacity: 0.84;
  background: rgb(225, 225, 225);
  border-radius: 0.2vw;
  box-shadow: $shadow;
  color: $dark;
  transition: opacity $quick;
  cursor: default;

  &:hover {
    opacity: 1;
  }
}

// Weather description
.results__description {
  font-size: 1.8vw;
  font-weight: 500;
  max-width: 25vw;
  text-align: center;
  margin-bottom: 1vw;
}

// Minimum and Maximum Temperature
.results__small-block--minmax {
  grid-area: b;
  gap: 1vw;
  padding: 0.5vw 0;

  & span {
    font-size: 1.5vw;
  }

  & div + span {
    font-size: 1.2vw;
  }
}

// Hyphen separating minimum and maximum temps
.separator {
  align-self: flex-start;
}

// What the temperature feels like
.results__small-block--feelslike {
  grid-area: c;
  font-size: 1.5vw;
}

// Humidity Percentage
.results__small-block--humidity {
  grid-area: d;
  padding: 0.5vw 0;

  & span {
    font-size: 1.5vw;
  }

  & span:last-child {
    font-size: 1.2vw;
  }
}

// Humidity Icon
.feather-droplet {
  fill: $darkblue;
  stroke: none;
  width: 1.1vw;
}

// Wind Speed and Direction
.results__small-block--wind {
  grid-area: e;
  padding: 0.5vw 0;

  & span {
    font-size: 1.5vw;
  }

  & span:last-child {
    font-size: 1.2vw;
  }
}

// Arrow indicating wind direction
.wind-icon {
  width: 1.3vw;
  aspect-ratio: 1;
  fill: $darkblue;
  vertical-align: top;
  margin-top: 0.4vw;
}

// Show º character on a different style
.degree {
  font-family: $font-system;
  font-size: 1.8vw;
}

// Responsive Design
@media (min-width: 1500px) {
  .home__section-one {
    background: url('../assets/bg/home-bg-1920.jpg') bottom / cover no-repeat;
  }
}
@media (min-width: 2200px) {
  .home__section-one {
    background: url('../assets/bg/home-bg-2560.jpg') bottom / cover no-repeat;
  }
}
@media (min-width: 2700px) {
  .home__section-one {
    background: url('../assets/bg/home-bg-3840.jpg') bottom / cover no-repeat;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
