#header {
  width: 100%;
  height: 100px;
  color: $text-dark;
  font-weight: 600;
  text-shadow: 0 1px 2px $bg-dark;
}

#brand {
  flex: 0.7;
  height: 100%;

  & span {
    font-size: 0.9rem;
  }
}

.logo {
  width: 60px;
  fill: #f6b002;
}

#search-bar {
  flex: 1;
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
}

#location {
  width: 100%;
  height: 40px;
}

#btn-submit {
  height: 40px;
}

.nav {
  flex: 1;
  height: 100%;

  & a {
    margin: 0 1rem;
    transition: opacity $quick;

    &:hover {
      opacity: 0.7;
    }
  }
}
