* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-display, $font-system;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}
